body {
    font-family: 'Playfair Display', serif;
    width: 100%;
    margin: auto;
}

.main-container {
    display: grid;
    grid-template-rows: 200px 510px 600px 500px;
    margin: auto;
}

.topbar {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100px;
}

.navbar {
    display: flex;
    margin-left: 10px;
}

.left-links a:nth-child(2) {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: background-color 0.3s ease-in-out; /* Add smooth transition */
    font-size: 16px; /* Set the font size */
}

/* Highlight current page link */
body.home .navbar .left-links a:first-child,
body.about .navbar .left-links a:nth-child(2),
body.service .navbar .left-links a:nth-child(3) {
    background-color: lightgray;
}

.navbar a:hover,
body.home .navbar .left-links a:first-child:hover,
body.about .navbar .left-links a:nth-child(2):hover,
body.service .navbar .left-links a:nth-child(3):hover {
    background-color: lightgray;
}

.bottombar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.image-container {
    width: 341.55px;
    height: 461.62px;
    overflow: hidden; /* Hide overflow to prevent layout shifting */
}

.img {
    width: 100%; /* Ensure the image takes up 100% of the container */
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.image-container:hover .img {
    transform: scale(1.1); /* Scale the image on hover */
}

.testimonial {
    display: flex;
    justify-content: space-between;
}

.testimonial-right {
    width: 480px;
    height: 550px;
    margin-right: 30px;
}

.testimonial-image {
    width: 480px;
    height: 550px;
}

.planner-image {
    height: 150px;
    width: 600px;
    margin-left: 30px;
    overflow: hidden; /* Hide overflow to prevent layout shifting */
}

.wedding-planner {
    height: 100%; /* Make the image take up 100% height of the container */
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.planner-image:hover .wedding-planner {
    transform: scale(1.1); /* Scale the image on hover */
}

.service-pop {
    display: flex;
    justify-content: space-between;
}

.wedding-planner-text {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 20px;
}

.pop-photo {
    width: 400px;
    height: 100px;
}

.service-planning {
    width: 400px;
    height: 100px;
    margin-left: 150px;
}

.tell {
    padding: 15px;
    border-radius: 5%;
    margin-left: 240px;
    margin-top: 20px;
    width: 150px;
    border-color: grey;
    background-color: white;
}

.wedding-planner-text2 {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

.pop-right-photo {
    height: 450px;
    width: 600px;
    margin-left: 25px;
}
